* {
	padding: 0;
	margin: 0;
}

audio{
	display: none;
}

a{
	text-decoration: none;
	color: white;
}

a:hover{
	text-decoration: underline;
	color: #ff8ba4;
	font-weight: bold;
}

a:active{
	color: #5a7fa7;
}

li {
	list-style: none;
}

.header {
	height: 40px;
	background-color: #000000;
	position: relative;
}

body {
	/* background: #e3e3e3 url(../img/漂流瓶.jpg)  no-repeat fixed ; */
	background-color: #e3e3e3;
	background-image: url(../img/漂流瓶.jpg);
	background-repeat: no-repeat;
	background-size: 1520px 700px;
	background-position: 0px 40px;
	background-attachment: fixed;
	height: 20000px;
	width: 2000px;
}

.lighting {
	float: left;
	height: 40px;
	line-height: 40px;
	font-size: 30px;
	font-weight: 900;
	font-family: "Snap ITC";
	color: rgba(255, 255, 255, 0);
	position: relative;
}

.lighting::before {
	position: absolute;
	content: "\Reach Higher Level";
	color: transparent;
	background-image: linear-gradient(to right, #ff0000, #3fb400, #ff17e8, #8fff49, #ea4ca6);
	-webkit-background-clip: text;
	clip-path: polygon(-30% 0%, 0% 0%, -10% 100%, -40% 100%);
	animation: light 5s 2s infinite;
}

@keyframes light {
	0% {
		clip-path: polygon(-30% 0%, 0% 0%, -10% 100%, -40% 100%);
	}

	50% {
		clip-path: polygon(100% 0%, 130% 0%, 110% 100%, 80% 100%);
	}

	100% {
		clip-path: polygon(-30% 0%, 0% 0%, -10% 100%, -40% 100%);
	}
}

.head {
	float: left;
	margin-left: 150px;
	height: 40px;
	overflow: visible;

}

.head li {
	float: left;
	margin-left: 200px;
	color: white;
}

.file,
.contact {
	font: 25px 华文行楷;
	line-height: 40px;
	border-left: 2px solid white;
	border-right: 2px solid white;
	padding: 0 30px 0 30px;
}


.content {
	position: absolute;
	float: left;
	color: white;
	margin-left: 681px;
	visibility: hidden;
}

.content li {
	float: left;
}

.file-content {
	height: 40px;
	width: 164px;
}

.file-content li {
	border: 3px solid #dddd99;
	border-top: 0;
	background-color: rgba(0,0,0,.3);
}

.file-content li img{
	width: 160px;
	height: 120px;
}

.contacts{
	width: 189px;
	height: 189px;
	margin-left: 200px;
}

.contacts img{
	width: 100%;
	border: 1px solid #7bdd82;
}

/* hover改变同级元素样式，需要改变样式的元素，class名或id名前要加上一个+号 */
.header:hover +.content{
	visibility: visible;
}

.tabBox {
	background-color: rgba(0,0,0,.3);
	height: 900px;
}

.tabBox ul {
	float: left;
	width: 400px;
	margin-left: 100px;
	margin-top: 50px;
	font: 30px 华文彩云;
	background-color: rgba(255,255,255,.3);
	
	/* 相对于之前的位置向下移动1px,使边框重合 */
}

.tabBox ul li {
	/* 同一行，块标签 */
	padding: 40px 40px;
	/* line-height: 80px; */
	
	cursor: pointer;
	border-radius: 20px;
}

.tabBox ul li.active {
	color: #97bbea;
	/* font-weight: bold; */
	font-family: 华文琥珀;
	background-color: rgba(105,56,101,.6);
	/* 当前li的边框覆盖率div的边框，我们让li的下边框为背景颜色白色，这样看上去就像没边框 */
}

.tabBox div {
	display: none;
	margin-left: 500px;
	padding-left: 150px;
	height: 602.8px;
	font: 40px 楷体;
	line-height: 600px;
	/* text-align: center; */
	border: 1px solid #AAA;
}

.tabBox div.active {
	display: block;
	/* div .active加空格是后代筛选，先搜索div在div中筛选，div .active不加空格当前div标签的二次筛选，同级筛选 */
}

.tabBox div a{
	display: inline-block;
}

#game{
	position: relative;
}

#game img{
	position: absolute;
	opacity: 80%;
	top: 50px;
	left: 0;
	z-index: -1;
	height: 552.8px;
	width: 1100px;
}

#communication img{
	border: 1px dashed transparent;
	padding-top: 50px;
}

#scenery{
	position: relative;
	padding-left: 400px;
}

#scenery img{
	position: absolute;
	opacity: 80%;
	top: 50px;
	left: 0;
	z-index: -1;
	height: 552.8px;
	width: 1100px;
}

#note{
	position: relative;
}

#note img{
	position: absolute;
	opacity: 80%;
	top: 50px;
	left: 0;
	z-index: -1;
	height: 552.8px;
	width: 1100px;
}

.introduce{
	background-color: rgba(185,175,185,.6);
	float: left;
	margin-left: 200px;
	width: 1000px;
	height: 10000px;
}

.nav{
	position: sticky;
	top: 300px;
}

.nav li{
	
}

.nav li a{
	background-color: #ffffff;
	color: #828282;
	font: 50px 楷体;
	border: 2px solid black;
}

.nav li a:hover{
	background-color: #ffeec2;
	color: #ff6363;
}

h1{
	text-align: left;
}

p{
	text-indent: 2em;
}

h3{
	margin: 100px 50px;
}

#igame{
	margin-top: 200px;
}

#iscenery{
	margin-top: 200px;
}

#imusic{
	margin-top: 200px;
}

#ifile{
	margin-top: 200px;
}

.introduce p{
	margin-top: 20px;
	font: 22px 楷体;
	font-weight: 600;
	font-style: italic;
}

.introduce h1,
.introduce h2{
	margin-bottom: 40px;
}
